#header-weather {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    background-color: darkblue;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

#search-group {
    background-color: lightgray;
}

#data-results {
    background-color: white;
}

#search-group {
    padding-left: 30px;
    padding-top: 10px;
}

label {
    font-weight: 700;
    color: black;
}

#form-input {
    width: 80%;
    padding-left: 10px;
}

button {
    width: 40px;
    height: 40px;
}
